/* components/HeaderSimple.module.css */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--mantine-color-white);
  border-bottom: 1px solid var(--mantine-color-gray-3);
  z-index: 1000;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  display: flex;
  align-items: center;
  width: 120px;
}

.logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.linksDesktop {
  display: none;
  height: 100%;
  align-items: center;
  margin-left: auto;
}

.link {
  display: block;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-darkGray-6);
  font-family: "Instrument Serif", serif; /* Correct font */
  font-size: var(--mantine-font-size-md);
  font-weight: 500;
  transition:
    color 0.2s ease,
    border-bottom 0.2s ease;
}

.link:hover {
  color: var(--mantine-color-darkGray-8);
}

.activeLink {
  color: var(--mantine-color-darkGray-8);
}

.burgerIcon {
  z-index: 1100;
  cursor: pointer;
}

.mobileMenu {
  position: absolute;
  top: 70px;
  left: 0;
  background-color: var(--mantine-color-white);
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  z-index: 999; /* Ensure it appears above other elements */
}

@media (min-width: 768px) {
  .linksDesktop {
    display: flex;
  }

  .mobileMenu {
    display: none;
  }

  .burgerIcon {
    display: none;
  }
}
